.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;

    &__image {
        display: block;
    }

    &__text-block {
        max-height: 403px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__subtitle {
        margin-top: 54px;
        margin-bottom: 34px;
    }
}
