.animals {
    position: relative;
    &__decor {
        position: absolute;
        bottom: 0;

        &--1 {
            left: 0;
        }

        &--2 {
            right: 0;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px 0 100px;

        @media (max-width: $lg) {
            padding: 42px 0 140px;
        }

        @media (max-width: $md) {
            padding: 20px 0 100px;
        }

        @media (max-width: $sm) {
            padding: 0 0 60px 0;
        }
    }

    &__slider {
        position: relative;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 30px;

        margin-bottom: 80px;

        @media (max-width: $lg) {
            gap: 92px 29px;
        }

        @media (max-width: $md) {
            grid-template-columns: repeat(2, 1fr);

            margin-bottom: 60px;
        }

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
            gap: 20px;

            margin-bottom: 20px;
        }
    }

    &__slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        width: 62px;
        height: 62px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: $orange;
        border-radius: 50%;

        cursor: pointer;

        @media (max-width: $sm) {
            display: none;
        }

        img {
            width: 16px;
        }

        &--previous {
            left: 323px;

            @media (max-width: $md) {
                left: 223px;
            }
        }

        &--next {
            right: 323px;

            @media (max-width: $md) {
                right: 223px;
            }

            img {
                transform: rotate(180deg);
            }
        }
    }
}
