.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 166px 0 100px 100px;
    margin-left: auto;

    &__text {
        position: relative;
        z-index: 1;

        max-width: 500px;
        margin-bottom: 60px;

        font-family: $family;
        color: #fff;
        font-weight: 700;
        font-size: 106.5px;
        line-height: 0.75;
        text-transform: uppercase;
        text-align: center;

        & span {
            color: $yellow;
        }

        &::before {
            content: '';

            position: absolute;
            top: -72px;
            left: -72px;
            z-index: -1;

            display: block;

            width: 465px;
            height: 465px;

            background: $orange;
            border-radius: 50%;
        }
    }
}
