.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 166px 0 100px 100px;
    margin-left: auto;

    @media (max-width: $lg) {
        // margin-right - container padding(85.75px -30px)
        padding: 122.8px 55.75px 47px 0;
    }

    @media (max-width: $md) {
        padding: 82px 14.7px 0 0;
    }

    @media (max-width: $sm) {
        // position: relative;
        padding: 41px 10px 0 0;
    }

    &__text {
        position: relative;
        z-index: 1;

        max-width: 500px;
        margin-bottom: 60px;

        font-family: $family;
        color: #fff;
        font-weight: 700;
        font-size: 106.5px;
        line-height: 0.75;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: $lg) {
            max-width: 400px;

            font-size: 85px;
            margin-bottom: 40.2px;
        }

        @media (max-width: $md) {
            max-width: 255.6px;
            font-size: 54.29px;
        }

        @media (max-width: $sm) {
            max-width: 128px;

            font-size: 28px;
        }

        & span {
            color: $yellow;
        }

        &::before {
            content: '';

            position: absolute;
            top: -72px;
            left: -72px;
            z-index: -1;

            display: block;

            width: 465px;
            height: 465px;

            background: $orange;
            border-radius: 50%;

            @media (max-width: $lg) {
                top: -53.8px;
                left: -58px;

                width: 367px;
                height: 367px;
            }

            @media (max-width: $md) {
                top: -37.81px;
                left: -37.3px;

                width: 237.6px;
                height: 237.6px;
            }

            @media (max-width: $sm) {
                top: -10px;
                left: -10px;

                width: 119px;
                height: 119px;
            }
        }
    }

    .btn {
        @media (max-width: $md) {
            position: absolute;
            left: 20px;
            bottom: 40px;
        }

        @media (max-width: $sm) {
            bottom: -63.4px;
            left: 50%;

            transform: translate(-50%);
        }
    }
}
