.btn {
    font-family: $family;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: center;

    background: none;
    border: 0;

    cursor: pointer;

    transition: background 0.3s linear;

    &:focus,
    &:active {
        background: $active;
    }

    &:disabled {
        background: $disabled;
    }

    &--fill {
        width: 298px;
        background: $orange;
        border-radius: 25px;
        padding: 16px 1px;
    }

    &--round {
        border-radius: 5px;
    }
}
