.card {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 366px;
    height: 426px;

    color: #000;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 5px;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        margin: -1px;

        border-radius: inherit;
        background: $orange;
    }

    &:hover .card__image {
        transform: scale(1.05);
    }

    &__image {
        border-radius: 5px 5px 0 0;

        transition: transform 0.3s linear;
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 15px;
        font-weight: 300;
    }

    &__info {
        display: flex;
        justify-content: space-between;

        padding: 8px 13px 13px;
    }
}
