.donate-banner {
    margin-top: 80px;
    min-height: 390px;

    background: url('../img/donate/panda-bg.jpg') no-repeat center / cover;
}

.donate {
    &__text-block {
        color: #fff;
        margin-bottom: 60px;
    }

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 10px;
        font-weight: 400;

        &--orange {
            text-transform: none;
            color: #fe9013;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 40px;
    }

    &__amount-block {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 60px;
        margin-bottom: 52px;
        margin-left: -10px;
    }

    &__amount-block-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 11px;
        margin-top: 58px;
    }

    &__amount-block-number {
        margin-bottom: 11px;

        font-size: 72px;
        font-weight: 500;
        line-height: 0.8;

        color: #000;
    }

    &__amount-block-x {
        margin-top: 35px;
    }

    &__amount-block-caption {
        font-size: 16px;
    }

    &__amount-block-image {
        margin-left: 64px;
    }

    &__progressbar {
        margin-bottom: 50px;
    }

    &__input {
        position: relative;

        width: 268px;
        padding: 16px 30px 16px 9px;
        margin-bottom: 25px;

        font-family: $family;
        font-size: 16px;
        color: #929699;

        background: url('../img/icons/dollar-icon-default.png') no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: center;

        border: 1px solid #929699;
        outline: none;

        transition: border-color 0.3s linear, color 0.3s linear;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }

        &:active,
        &:focus {
            color: $green;
            border-color: $green;

            background-image: url('../img/icons/dollar-icon-green.png');
        }

        &:invalid {
            color: $red;
            border-color: $red;

            background-image: url('../img/icons/dollar-icon-red.png');
        }
    }

    &__form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__radios {
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__label {
        position: relative;

        display: flex;
        align-items: center;
        padding-left: 26px;

        font-size: 16px;
        line-height: 1.4;

        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__radio {
        position: absolute;
        opacity: 0;

        &:checked ~ .donate__check {
            background-color: $green;
            border-color: $green;
        }
    }

    &__check {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;

        border: 1px solid #fe9013;

        transition: border-color 0.3s linear, background-color 0.3s linear;
    }

    &__submit {
        margin-bottom: 30px;
    }
}
