.donate-banner {
    margin-top: 80px;
    min-height: 390px;

    background: url('../img/donate/panda-bg.jpg') no-repeat center / cover;

    @media (max-width: $lg) {
        background: url('../img/donate/panda-bg-lg.jpg') no-repeat center /
            cover;
    }

    @media (max-width: $md) {
        margin-top: 34px;
        min-height: 335px;
        background: url('../img/donate/panda-bg-md.jpg') no-repeat center /
            cover;
    }

    @media (max-width: $sm) {
        min-height: 187px;
        background: url('../img/donate/panda-bg-sm.jpg') no-repeat center /
            cover;
    }
}

.donate {
    &__text-block {
        color: #fff;
        margin-bottom: 60px;

        @media (max-width: $lg) {
            margin-bottom: 39px;
        }

        @media (max-width: $md) {
            margin-bottom: 27px;
        }
    }

    &__title {
        font-size: 36px;
        text-transform: uppercase;
        line-height: 1.3;
        margin-bottom: 10px;
        font-weight: 400;

        @media (max-width: $lg) {
            max-width: 778px;
            margin-bottom: 30px;
        }

        @media (max-width: $md) {
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        &--orange {
            text-transform: none;
            color: #fe9013;

            @media (max-width: $md) {
                font-size: 36px;
                line-height: 1.3;
            }

            @media (max-width: $sm) {
                font-size: 24px;
                line-height: 1.3;
            }
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 43px;
        font-weight: 500;

        span {
            font-weight: 400;
            margin-right: 5px;
        }

        @media (max-width: $lg) {
            margin-bottom: 46px;
            br {
                display: none;
            }
        }

        @media (max-width: $md) {
            margin-bottom: 30px;
        }

        @media (max-width: $sm) {
            margin-bottom: 25px;
        }
    }

    &__amount-block {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 60px;
        margin-bottom: 52px;
        margin-left: -10px;

        @media (max-width: $md) {
            margin-top: 50px;
            margin-left: -15px;
            margin-bottom: 45px;
        }

        @media (max-width: $sm) {
            width: 100%;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 6px;

            justify-content: space-between;
        }
    }

    &__amount-block-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 11px;
        margin-top: 58px;

        @media (max-width: $sm) {
            margin-right: 6px;
            margin-top: 33px;
        }
    }

    &__amount-block-number {
        margin-bottom: 11px;

        font-size: 72px;
        font-weight: 500;
        line-height: 0.8;

        color: #000;

        @media (max-width: $sm) {
            margin-bottom: 8px;
            font-size: 40.6px;
        }
    }

    &__amount-block-x {
        margin-top: 35px;

        @media (max-width: $sm) {
            margin-top: 18px;
            margin-right: 34px;
        }
    }

    &__amount-block-caption {
        font-size: 16px;

        @media (max-width: $sm) {
            font-size: 9px;
            line-height: 1.4;
        }
    }

    &__amount-block-image {
        margin-left: 64px;

        @media (max-width: $sm) {
            margin-left: 0;
        }
    }

    &__progressbar {
        margin-bottom: 50px;
    }

    &__input {
        position: relative;

        width: 268px;
        padding: 16px 30px 16px 9px;
        margin-bottom: 25px;

        font-family: $family;
        font-size: 16px;
        color: #929699;

        background: url('../img/icons/dollar-icon-default.png') no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: center;

        border: 1px solid #929699;
        outline: none;

        transition: border-color 0.3s linear, color 0.3s linear;

        ::-webkit-outer-spin-button,
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        @media (max-width: $md) {
            width: 180px;
            height: 42px;

            padding-left: 5px;
        }

        @media (max-width: $sm) {
            margin-bottom: 25px;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }

        &:active,
        &:focus {
            color: $green;
            border-color: $green;

            background-image: url('../img/icons/dollar-icon-green.png');
        }

        &:invalid {
            color: $red;
            border-color: $red;

            background-image: url('../img/icons/dollar-icon-red.png');
        }
    }

    &__form {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__radios {
        margin-left: -10px;
        margin-bottom: 31px;
        display: flex;
        justify-content: center;
        gap: 50px;

        @media (max-width: $lg) {
            margin-left: -17px;
            margin-top: 4px;
            margin-bottom: 27px;
        }

        @media (max-width: $md) {
            margin-top: 7px;
        }

        @media (max-width: $sm) {
            margin-top: 0;
        }
    }

    &__label {
        position: relative;

        display: flex;
        align-items: center;
        padding-left: 26px;

        font-size: 16px;
        line-height: 1.4;

        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__radio {
        position: absolute;
        opacity: 0;

        &:checked ~ .donate__check {
            background-color: $green;
            border-color: $green;
        }
    }

    &__check {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 16px;
        width: 16px;
        border-radius: 50%;

        border: 1px solid #fe9013;

        transition: border-color 0.3s linear, background-color 0.3s linear;
    }

    &__submit {
        margin-bottom: 30px;

        @media (max-width: $lg) {
            margin-left: 4px;
        }

        @media (max-width: $sm) {
            margin-left: 0;
        }
    }

    &__share {
        display: block !important;
        position: relative;
        width: 301px;
    }
}
