.progressbar {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 98px;

    @media (max-width: $lg) {
        max-width: 810px;
    }

    @media (max-width: $sm) {
        margin-bottom: 49px;
    }

    &__caption {
        font-size: 16px;
        color: #000;
        margin-left: 5px;
        margin-bottom: 17px;

        @media (max-width: $lg) {
            margin-left: 0;
        }

        @media (max-width: $md) {
            margin-left: 10px;
            margin-bottom: 7px;
        }

        @media (max-width: $sm) {
            margin-left: 0;
            margin-bottom: 10px;
        }
    }

    &__body {
        width: 100%;
        height: 27px;
        padding: 0 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #404950;
        border-radius: 2px;

        @media (max-width: $lg) {
            padding: 0 11px;
        }

        @media (max-width: $md) {
            padding: 0 35px;
        }

        @media (max-width: $sm) {
            height: 13.5px;
            padding: 0 17.5px;
        }
    }

    &__track {
        width: 100%;
        height: 2px;

        background-color: #72828e;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(100% / 8);

        @media (max-width: $lg) {
            gap: calc(100% / 7);
        }

        @media (max-width: $md) {
            gap: calc(100% / 5);
        }
    }

    &__dot {
        position: relative;
        width: 10px;
        height: 10px;

        background-color: $yellow;
        border-radius: 50%;

        cursor: pointer;

        @media (max-width: $sm) {
            width: 5px;
            height: 5px;
        }

        &--1 {
            @media (max-width: $lg) {
                display: none;
            }
        }

        &--2 {
            @media (max-width: $md) {
                display: none;
            }
        }

        &--3 {
            @media (max-width: $md) {
                display: none;
            }
        }

        &:hover::before,
        &:active::before,
        &.active::before {
            opacity: 1;
        }

        &:hover::after,
        &.active::after {
            color: #fe9013;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 40px;
            height: 40px;

            background: url('../img/icons/roller-icon.png') no-repeat;

            opacity: 0;

            transition: opacity 0.3s linear;

            @media (max-width: $sm) {
                width: 20px;
                height: 20px;

                background: url('../img/icons/roller-icon-sm.png') no-repeat;
            }
        }

        &::after {
            position: absolute;
            bottom: -60px;
            left: -30px;
            z-index: 1;

            font-size: 26px;
            font-weight: 500;
            line-height: 1.4;
            color: $black-blue;

            transition: color 0.3s linear;

            @media (max-width: $lg) {
                bottom: -58px;
                left: -12px;
            }

            @media (max-width: $md) {
                left: -20px;
            }

            @media (max-width: $sm) {
                font-size: 13px;

                bottom: -30px;
                left: -10px;
            }
        }

        &--1::after {
            content: '$5000';
        }
        &--2::after {
            content: '$2000';
        }
        &--3::after {
            content: '$1000';
        }
        &--4::after {
            content: '$500';
        }
        &--5::after {
            content: '$250';
        }
        &--6::after {
            content: '$100';
        }
        &--7::after {
            content: '$50';
        }
        &--8::after {
            content: '$25';
        }
    }
}
